@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");

:root {
    --font1: Verdane, Geneva, Tahoma, sans-serif;
    --font2: "Passion One", cursive;
    --font3: "Sriracha", cursive;
}

* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

html,
body {
    background-color: darkgray;
    min-height: 100vh;
    font-family: var(--font1);
}

header a,
footer a {
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover,
footer a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    color: white;
    text-align: center;

    h1 {
        padding-top: 50px;
        font-size: 10vw;
        font-variant: small-caps;
        font-family: var(--font2);
    }

    p {
        font-family: sans-serif;
        padding: 1rem 0rem 3rem 0rem;
    }
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    font-family: var(--font3);
    font-size: 3.5vw;

    p {
        padding-bottom: 2em;
    }
}

.normal {
    background-color: white;
    color: black;
}

.imagem {
    background-color: rgb(51, 51, 51);
    color: white;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);

    p {
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.514);
        padding: 5px;
        text-shadow: 1px 1px 0px black;
    }
}

#img01 {
    background-image: url("../IMG/background001.jpg");
    background-position: right center;
}

#img02 {
    background-image: url("../IMG/background002.jpg");
    background-position: right center;
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
}
