@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #dafdba, #9aeba3);
}

main {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 10px 5px 20px #13668a7e;
    width: 60%;
    padding: 60px;
    margin: auto;
}

h1 {
    color: #45c4b0;
    text-align: center;
    text-shadow: 1px 1px 0px #13678a;
}

h2 {
    color: #13678a;
}

p {
    text-align: justify;
}
